{% extends "base.html" %}

{% block title %}
    About Dina Glassman
{% endblock title %}

{% block content %}
    {% load staticfiles %}

    <section class="jumboWrapper homePhoto lakeImg">
            <div class="HeaderText jumboH1">
                <h1>
                    About Dina
                </h1>
            </div>
        </section>

    <main class="aboutPage bio">

        <article class="story noMargin">
            <section class=" bio">
                <aside>
                    <h2>
                        Dina's Story
                    </h2>
                    <p class="thinnerText">
                        With nearly 20 years of corporate experience,
                        I am passionate about helping professionals awaken to what life success looks like for them, and guiding them towards it.
                        My own career transitions have included
                        moving cross-country to join Perkins Coie as a lateral labor and employment associate, being the
                        first professional in the Portland office to transition to a reduced hours schedule, leaving the
                        practice of law to become the first Director of Professional Development in the Portland market,
                        and then transitioning to the position I created as an internal career coach.
                        For almost two decades, I have spoken widely on a host of professional development and
                        diversity topics.
                    </p>
                </aside>
            </section>

            <section class="p_img dinasbackground">
                <a href="/Diversity_Champion_2015">
                    <img src="{% static 'images/divers_chap.svg'%}" alt="Diversity Champion 2015 Hyperlink Logo">
                </a>
                <section class="aboutBackground">
                    <h2>
                        Dina’s Background and Experience
                    </h2>
                    <ul class="thinnerText">
                        <li>Recipient of Perkins Coie’s inaugural Firmwide Diversity Champion Award</li>
                        <li>JD from NYU Law School; BA from Colgate University, phi beta kappa, magna cum laude</li>
                        <li>MBSR (Mindfulness Based Stress Reduction) program graduate (OHSU)</li>
                        <li>19 years inside Big Law (AmLaw 50 firms); DLA Piper and Perkins Coie</li>
                        <li>7 years litigation practice experience at DLA and Perkins Coie; first lawyer to work a reduced schedule in the Portland office of Perkins Coie</li>
                        <li>10+ years of Big Firm Attorney Development experience,
                            including 5 years as Director of Attorney Development at Perkins Coie,
                            a role I co-created, which remains the most senior attorney development role in the firm
                        </li>
                        <li>4 years as internal Attorney Career Coach,
                            including experience coaching 100+ individual lawyers,
                            across all seniority levels, 14 geographic locations and 8 practice groups
                            (developed the job description for the role, one of the first designated internal law
                            firm coaching roles in the country)</li>
                        <li>Co-founder of Internal Coaching Peer Group, including more than a dozen coaching professionals inside Big Law</li>
                        <li>Longstanding member of Professional Development Consortium (PDC)</li>
                        <li>Individual coaching engagements with more than 120 professionals across a range of seniority levels and practice areas</li>
                    </ul>
                </section>
            </section>

            <section class="famWrapper">
                <aside class="familyPhotos">
                    <img src="{% static 'images/FamilyImages.png'%}" alt="Family Photo">
                </aside>
            </section>

            <section class="aboutBackground">
                    <h2>
                        Fun Facts About Me<br>
                        (in no particular order)
                    </h2>
                    <ul class="thinnerText">
                        <li>I love few things more than planning trips to far-away lands.  The process of researching and curating an international adventure lights me up, almost as much as living the adventure.</li>

                        <li>I feel blessed that I found the field of coaching after years inside BigLaw.</li>

                        <li>I cherish being Noah’s mom and Darren’s wife, two men who have taught me to stretch and explore beyond my comfort zone, including on the ski slopes and at sushi restaurants.</li>

                        <li>I am not ashamed to sing badly and whistle off tune.  I recognize these inclinations can be annoying.</li>

                        <li>I am passionately committed to creating a world free of multiple sclerosis.</li>

                        <li>I am slightly obsessed with our Portland Trailblazers, who occupy my thoughts on a regular basis.</li>

                        <li>I am moved by metaphors and use them regularly, and my vocabulary is not hindered by the narrow rules of grammar.</li>

                        <li>I am inspired by my mother’s uncanny ability to belly laugh and live in the moment, despite hideous disease.</li>

                        <li>I excel at flea markets and have mad skills negotiating with vendors, which I attribute to my Russian immigrant roots.</li>

                        <li>I cherish hiking and walking with Sabine, our wise and joyful flat coat retriever from the Humane Society.</li>

                        <li>I believe that meals are incomplete without dessert.</li>

                        <li>I appreciate the treasured feeling of spaciousness that mindfulness and barre3 give me.</li>

                        <li>I love cows.</li>

                        <li>I am grateful to call Portland, Oregon home and exhale deeply every time the plane lands in PDX.</li>
                    </ul>
                </section>
        </article>




    </main>
{% endblock content %}