{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main class="aboutPage">

        <section class="aboutWrapper jumboWrapper">
            <div class="svgWrapper">


                <svg class="aboutImg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 663.68 480"><defs><style>.cls-1{fill:#fffcf0}.cls-2{fill:#447738;}</style></defs><title>divers_chap</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <path class="cls-1" d="M0,466.8S632.71,560.66,636.43,0h700.26V480H0Z"/>
                        <path class="cls-1" d="M613.45,0C589.76,465.67,109.45,448,0,437.93V449.4C90.15,459,606.47,492.33,622.69,0Z"/>
                        <path class="cls-2" d="M628,0C612.76,500.27,84.77,464.08,0,454.81v4.36C45.55,465.11,622.21,529.93,631.5,0Z"/>
                    </g>
                </svg>
                <!--<img src="{% static 'images/family_photo.JPG' %}">-->
            </div>

            <p>
                Dina Glassman is a certified integral coach.
                Integral coaching includes everything about the client and the client’s world.
                This includes what the client is aware of along with their potential—what could
                be brought about through focused, skillful methods.
                Individual coaching explores how clients represent themselves,
                and also investigates their social world, habits, the quality of self-care,
                the amount of attention and energy available to take on change, and much more.
            </p>

        </section>
        <aside class="miniAbout">

            <img src="{% static 'images/divers_chap.svg' %}">


            <a href="/Diversity_Champion_2015">
                <blockquote>
                    "Dina has the ability to see what is needed and figure out how to make it happen."
                </blockquote>

                <p>
                    I have tried to impact diversity more through my actions than my words.
                    I have not felt compelled to be loud or outspoken, just authentic and
                    sincere in my commitment to the work. Diversity work has provided a ripe
                    field for my natural inclinations.
                </p>
            </a>
        </aside>
        <article class="story">
            <h1>
                Dina's story
            </h1>
            <p>
                Dina is passionate about coaching attorneys at various stages of positive transition and
                change, including career shifts, transitions from leave, and other professional milestones. Her
                own career transitions have included moving cross-country to join Perkins Coie as a lateral labor
                and employment associate, being the first professional in the Portland office to transition to a
                reduced hours schedule, leaving the practice of law to become the first Director of Professional
                Development in the Portland market, and then transitioning to the position she created as an
                internal career coach. In Dina’s final year at Perkins Coie, she was honored to receive the firm’s
                inaugural Diversity Champion Award. This year, Dina has gone out on her own to start GC2, her
                independent coaching and legal talent consulting firm.
                For almost two decades, Dina has spoken widely on a host of professional development and
                diversity topics, including the DiSC behavioral assessment, which she has used throughout her
                career.
                Dina immigrated to the United States from Azerbaijan in 1981 and is an avid world traveler. She
                also serves on the emeritus board of the National Multiple Sclerosis Society, practices
                mindfulness and barre3, passionately roots for the Portland Trailblazers, and loves to spend time
                on Mount Hood with her husband, Darren, 16-year old son, Noah, and mutt, Sabine.
            </p>

            <section>
                <h1>
                    Background and Experience
                </h1>
                <ul>
                    <li>JD from NYU Law School; BA from Colgate University, phi beta kappa, magna cum laude</li>
                    <li>Coaching Certification from New Ventures West, ICF Certified Coach</li>
                    <li>MBSR (Mindfulness Based Stress Reduction) program graduate – 2016 (OHSU)</li>
                    <li>19 years inside Big Law (AmLaw 50 firms); DLA Piper and Perkins Coie</li>
                    <li>7 years litigation practice experience at DLA and Perkins Coie; first lawyer to work a reduced schedule in the Portland office of Perkins Coie</li>
                    <li>10+ years of Big Firm Attorney Development experience,
                        including 5 years as Director of Attorney Development at Perkins Coie (developed the job description,
                        which remains the most senior attorney development role in the firm)</li>
                    <li>4 years as internal Attorney Career Coach,
                        including experience coaching 100+ individual lawyers,
                        across all seniority levels, 14 geographic locations and 8 practice groups
                        (developed the job description for the role, one of the first designated internal law
                        firm coaching roles in the country)</li>
                    <li>Recipient of Perkins Coie’s inaugural Firmwide Diversity Champion Award</li>
                    <li>Co-founder of Internal Coaching Peer Group, including more than a dozen coaching professionals inside Big Law</li>
                    <li>Longstanding member of Professional Development Consortium (PDC)</li>
                </ul>
            </section>
        </article>


    </main>
{% endblock content %}