{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main class="aboutPage">

        <section class="jumboWrapper homePhoto">
            <div class="jumbotron">
                <img src="{% static 'images/mount_hood-min.png'%}">
            </div>

            <div class="textWrapper">
                <h1 class="pageTitle">
                    About Dina
                </h1>
            </div>
        </section>
        <aside class="miniAbout">
            <!--<blockquote>-->
                 <!--Offering an integrated coaching approach,-->
                <!--focused on exploring possibilities and achieving greater fulfillment and freedom for every client-->
            <!--</blockquote>-->
            <!--<p>-->
                <!--Dina Glassman is a certified integral coach.-->
                <!--Integral coaching includes everything about the client and the client’s world.-->
                <!--This includes what the client is aware of along with their potential—what could-->
                <!--be brought about through focused, skillful methods.-->
                <!--Individual coaching explores how clients represent themselves,-->
                <!--and also investigates their social world, habits, the quality of self-care,-->
                <!--the amount of attention and energy available to take on change, and much more.-->
            <!--</p>-->
            <a href="/Diversity_Champion_2015">
                <blockquote>
                    "Dina has the ability to see what is needed and figure out how to make it happen."
                </blockquote>
            <!--<p>-->
                <!--Dina’s nominators say she constantly works behind the scenes promoting-->
                <!--the development of diverse attorneys, including women.-->
            <!--</p>-->

                <p>
                    I have tried to impact diversity more through my actions than my words.
                    I have not felt compelled to be loud or outspoken, just authentic and
                    sincere in my commitment to the work. Diversity work has provided a ripe
                    field for my natural inclinations.
                </p>
            </a>
        </aside>
        <article class="story">
            <h1>
                Dina's story
            </h1>
            <p>
                Dina is passionate about coaching attorneys at various stages of positive transition and
                change, including career shifts, transitions from leave, and other professional milestones. Her
                own career transitions have included moving cross-country to join Perkins Coie as a lateral labor
                and employment associate, being the first lawyer in the Portland office to transition to a
                reduced hours schedule, leaving the practice of law to become the first Director of Professional
                Development in the Portland market, and then transitioning to the position she created as an
                internal career coach. In Dina’s final year at Perkins Coie, she was honored to receive the firm’s
                inaugural Diversity Champion Award. This year, Dina has gone out on her own to start GC2, her
                independent coaching and legal talent consulting firm.
                For almost two decades, Dina has spoken widely on a host of professional development and
                diversity topics, including the DiSC behavioral assessment, which she has used throughout her
                career.
                Dina immigrated to the United States from Azerbaijan in 1981 and is an avid world traveler. She
                also serves on the emeritus board of the National Multiple Sclerosis Society, practices
                mindfulness and barre3, passionately roots for the Portland Trailblazers, and loves to spend time
                on Mount Hood with her husband, Darren, 16-year old son, Noah, and mutt, Sabine.
            </p>
        </article>

    </main>
{% endblock content %}