{% extends "base.html" %}

{% block title %}
    GC2 Consulting Services
{% endblock title %}

{% block content %}
    {% load staticfiles %}
    <main>

        <section class="jumboWrapper homePhoto fallImg">
            <div class="HeaderText">
                <h1>
                    Consulting Services
                </h1>
            </div>
        </section>

        <section class="mainWrapper services bio">
            <article class="secondWrapper noMargin">
                <div>
                    <h2>Offering skillful talent management consulting services in the following areas:</h2>
                        <section class="offerings">
                            <h3>Diversity</h3>
                                <ul class="thinnerText">
                                    <li>Affinity group implementation, support and program development</li>
                                    <li>Retreat/special program development and program design</li>
                                    <li>Alternative work arrangement management</li>
                                    <li>Roundtable program design and implementation</li>
                                    <li>Behavioral	assessment	and	facilitation</li>
                                </ul>
                                <h3>Performance management</h3>
                                <ul class="thinnerText">
                                    <li>Evaluation process review and enhancement (evaluation forms,
                                    debriefing statements, promotional signals, communication and transparency review)</li>
                                    <li>Career path design and implementation</li>
                                </ul>
                                <h3>Training and development</h3>
                                <ul class="thinnerText">
                                    <li>Upward review and feedback development</li>
                                    <li>Skills guidelines/competencies design and implementation</li>
                                    <li>Retreat design and program development</li>
                                </ul>
                                <h3>Culture</h3>
                                <ul class="thinnerText">
                                    <li>Sponsorship/mentorship program design and implementation</li>
                                    <li>Alumni program/exit ambassador program development</li>
                                    <li>Mindfulness/Wellness program development</li>
                                    <li>Coaching strategy design and implementation</li>
                                    <li>Positive Psychology	programming</li>
                                </ul>
                    </section>
                </div>
            </article>

        </section>

    </main>
{% endblock content %}