{% extends "base.html" %}

{% block title %}
    Glassman Coaching + Consulting
{% endblock title %}

{% block content %}
    {% load staticfiles %}
    <main>
    <section class="jumboWrapper homePhoto mountImg">
        <div class="HeaderText jumboH1">
            <figure class="GC2HeaderText">
                <img src="{% static 'images/GC2TextHeader.svg' %}" alt="Glassman Coaching + Consulting">
            </figure>
        </div>
    </section>

    <section class="bio">
        <aside class="dinaImg">
            <img src=" {%static 'images/Glassman_min.jpg'%} " alt="Headshot of Dina">
        </aside>

        <article>
            <p class="thinnerText">
                I am passionate about supporting professionals in reaching specific career goals,
                and deriving greater meaning and satisfaction from their work and life.  As an experienced
                certified integral coach, I offer an integrated approach, focused on exploring possibilities
                and achieving greater fulfillment and direction for every client.
            </p>
        </article>
    </section>

    </main>
{% endblock content %}