{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main>

    <section class="jumboWrapper homePhoto">
        <div class="jumbotron">
            <img src="{% static 'images/mount_hood-min.png'%}">
        </div>
        <div class="maryLink">
            <a href="https://en.wikipedia.org/wiki/Mary_Wollstonecraft" class="textWrapper">
                <h1 class="pageTitle">
                    "the beginning is always today"
                </h1>
                <p>Mary Wollstonecraft</p>
            </a>
        </div>
    </section>

    <section class="bio">
        <aside>
            <img src=" {%static 'images/Glassman_min.jpg'%} ">
        </aside>

        <article>
            <p>
            Dina Glassman is an independent Career Coach,
            focused on supporting professionals in reaching
            specific career goals and deriving greater meaning and satisfaction from their work.
            Dina offers an integrated coaching approach,
            focused on exploring possibilities and achieving greater fulfillment and freedom for every client.
            She is passionate about coaching professionals at various stages of positive transition and change,
            including career shifts, transitions from leave, and other professional milestones.
            Dina is a veteran of Big Law, having started in the litigation practice at DLA Piper in New York,
            and then spending sixteen years at Perkins Coie in Portland.
            With over a decade of talent management experience,
            including as the Firmwide Director of Attorney Development,
            Dina has coached over 100 professionals in achieving greater integration and fulfillment in their lives.
            She is a graduate of Colgate University, New York University School of Law,
            and New Ventures West Integral Coaching & Certification Program.
            </p>
            <a href="http://docdro.id/X89brf7">Read more...</a>
        </article>
    </section>

    </main>
{% endblock content %}