{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main>
        <section class="jumboWrapper homePhoto">
                <img src="{% static 'images/Nature_Path.jpg'%}">
            <div class="HeaderText jumboH1">
                <h2>
                    Resources
                </h2>
            </div>
        </section>

        <ul class="resourceWrapper">
            <li>
                <h2 class="resourceHeader">
                    Books
                </h2>
                <div></div>
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Happiness-Advantage-Principles-Psychology-Performance/dp/0307591549?ie=UTF8&amp;hvadid=43796382276&amp;hvdev=c&amp;hvexid=&amp;hvnetw=g&amp;hvpone=15.31&amp;hvpos=1t1&amp;hvptwo=&amp;hvqmt=b&amp;hvrand=10764363152196052523&amp;ref=pd_sl_s1pwebcln_b&amp;tag=googhydr-20" target="_blank">
                            The Happiness Advantage

                        </a>
                        <p>by Shawn Achor</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/The-Gifts-Imperfection-Supposed-Embrace/dp/159285849X" target="_blank">
                            The Gifts of Imperfection
                        </a>
                        <p>by Brené Brown</p>
                    </li>
                    <li>
                        <a href="http://www.quietrev.com/quiet-the-book/" target="_blank">
                            Quiet
                        </a>
                        <p>by Susan Cain</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/When-Things-Fall-Apart-Difficult/dp/1570623449?ie=UTF8&hvadid=31600806157&hvdev=c&hvexid=&hvnetw=g&hvpone=8.59&hvpos=1t1&hvptwo=&hvqmt=b&hvrand=15996864169874713051&ref=pd_sl_7w49itwm64_b&tag=googhydr-20" target="_blank">
                            When Things Fall Apart
                        </a>
                        <p>by Pema Chodron</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Working-Identity-Unconventional-Strategies-Reinventing/dp/1591394139" target="_blank">
                            Working Identity
                        </a>
                        <p>by Harminia Ibarra</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0804137382/ref=sr_1_1?s=books&ie=UTF8&qid=1406065359&sr=1-1&keywords=essentialism" target="_blank">Essentialism</a>
                        <p>by Greg McKeown</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Creative-Lawyer-Practical-Professional-Satisfaction/dp/1614389802/ref=sr_1_2?s=books&ie=UTF8&qid=1442955618&sr=1-2&keywords=The+Creative+Lawyer%2C+Michael+Melcher" target="_blank">
                            The Creative Lawyer
                        </a>
                        <p>by Michael Melcher</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Leadership-Embodiment-Stand-Change-Think/dp/1492946699" target="_blank">
                            Leadership Embodiment
                        </a>
                        <p>by Wendy Palmer and Janet Crawford</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/What-now-Ann-Patchett/dp/0061340650/ref=sr_1_1?s=books&ie=UTF8&qid=1375379687&sr=1-1&keywords=what+now" target="_blank">
                            What Now?
                        </a>
                        <p>by Ann Patchett</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Drive-Surprising-Truth-About-Motivates/dp/1594484805" target="_blank">
                            Drive
                        </a>
                        <p>by Daniel H. Pink</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/To-Sell-Is-Human-Surprising/dp/1594487154" target="_blank">
                            To Sell Is Human
                        </a>
                        <p>by Daniel H. Pink</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Difficult-Conversations-Discuss-What-Matters/dp/0143118447/ref=sr_1_1?s=books&ie=UTF8&qid=1375379586&sr=1-1&keywords=difficult+conversations+how+to+discuss+what+matters+most" target="_blank">
                            Difficult Conversations
                        </a>
                        <p>by Douglas Stone, Bruce Patton, & Sheila Heen</p>
                    </li>
                    <li>
                        <a href="http://kenjiyoshino.com/KY/covering/" target="_blank">
                            Covering
                        </a>
                        <p>by Kenji Yoshino</p>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="resourceHeader">
                    Ted Talks
                </h2>
                <div></div>
                <ul>
                    <li>
                        <a href="http://www.ted.com/talks/shawn_achor_the_happy_secret_to_better_work"  target="_blank">The Happy Secret to Better Work</a>
                        <p>
                            by Shawn Achor
                        </p>
                    </li>
                    <li>
                        <a href="https://www.ted.com/talks/brene_brown_on_vulnerability?language=en"  target="_blank">The Power of Vulnerability</a>
                        <p>
                            by Brené Brown
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/susan_cain_the_power_of_introverts"  target="_blank">The Power of Introverts</a>
                        <p>
                            by Susan Cain
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/amy_cuddy_your_body_language_shapes_who_you_are"  target="_blank">Your Body Language Shapes Who You Are</a>
                        <p>
                            by Amy Cuddy
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/dan_pink_on_motivation"  target="_blank">On Motivation</a>
                        <p>
                            by Daniel Pink
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/kathryn_schulz_on_being_wrong"  target="_blank">On Being Wrong</a>
                        <p>
                            by Kathryn Schulz
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action"  target="_blank">How Great Leaders Inspire Action</a>
                        <p>
                            by Simon Sinek
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="resourceHeader">
                    Articles
                </h2>
                <div></div>
                <ul>
                    <li>
                        <a href="http://mobile.nytimes.com/2016/07/23/your-money/why-companies-have-started-to-coach-new-parents.html?_r=1&amp;referer=" target="_blank">
                            Why Companies Have Started to Coach New Parents.
                        </a>
                        <p>
                            by Tara Siegel Barnard (The New York Times)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.nytimes.com/2014/11/14/opinion/david-brooks-the-agency-moment.html?smid=nytcore-iphone-share&amp;smprod=nytcore-iphone&amp;_r=0" target="_blank">The Agency Moment</a>
                        <p>by David Brooks (The New York Times)</p>
                    </li>
                    <li>
                        <a href="http://www.wolfmotivation.com/articles/burnout-a-necessary-part-of-lawyers-lives" target="_blank">Burnout: A Necessary Part of Lawyers’ Lives?</a>
                        <p>By Randall Christison, (PDQ)</p>
                    </li>
                    <li>
                        <a href="http://www.forbes.com/sites/dorieclark/2013/09/03/why-so-few-women-and-minorities-at-the-top-heres-the-real-reason/" target="_blank">Why So Few Women And Minorities At The Top? Here's The Real Reason.</a>
                        <p>
                            by Dorie Clark (Forbes)
                        </p>
                    </li>
                    <li>
                        <a href="http://warriorone.com/wp-content/uploads/2015/03/Living-Happily-Surrounded-by-Conflict.pdf" target="_blank">Living (Happily) Surrounded by Conflict: Surprise! How Lawyers are Leading the Mindfulness

                        Revolution,</a>
                        <p>
                            by Judi Cohen
                        </p>
                    </li>
                    <li>
                        <a href="http://parenting.blogs.nytimes.com/2013/10/03/both-men-and-women-cover-family-responsibilities-at-work/?_php=true&amp;_type=blogs&amp;action=click&amp;module=Search&amp;region=searchResults&amp;mabReward=&amp;url=http%3A%2F%2Fquery.nytimes.com%2Fsearch%2Fsitesearch%2F%23%2Fkenji%2Byoshino%2Fsince1851%2Fallresults%2F1%2Fallauthors%2Fnewest%2F&amp;_r=0" target="_blank">Both Men and Women Should ‘Uncover’ Family Responsibilities at Work</a>
                        <p>
                            by KJ Dell'Antonia
                            (The New York Times)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.nytimes.com/2016/02/28/magazine/what-google-learned-from-its-quest-to-build-the-perfect-team.html?_r=1" target="_blank">What Google Learned From Its Quest to Build the Perfect Team.</a>
                        <p>
                            by Charles Duhigg (The New York Times Magazine)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.americanbar.org/publications/gp_solo/2011/january_february/professional_coachingforlawyers.html" target="_blank">Professional Coaching for Lawyers</a>
                        <p>Andrea Goldman & Stephen Seckler (GP Solo Magazine)</p>
                    </li>
                    <li>
                        <a href="https://hbr.org/2014/01/find-the-coaching-in-criticism" target="_blank">Find the Coaching in Criticism: The Right Ways to Receive Feedback</a>
                        <p>
                            by Sheila Heen & Douglas Stone (Harvard Business Review)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.theatlantic.com/magazine/archive/2014/05/the-confidence-gap/359815/" target="_blank">The Confidence Gap</a>
                        <p>
                            by Katty Kay and Claire Shipman (The Atlantic)
                        </p>
                    </li>
                    <li>
                        <a href="https://info.legalsolutions.thomsonreuters.com/signup/newsletters/practice-innovations/2011-oct/article4.aspx" target="_blank">Improving Associate Morale Through Career Coaching</a>
                        <p>by Karen Kleiman, (Practice Innovations Newsletter)</p>
                    </li>
                    <li>
                        <a href="http://nymag.com/thecut/2015/08/why-we-need-older-women-in-the-workplace.html" target="_blank">Why We Need Older Women in the Workplace</a>
                        <p>
                            by Lisa Miller (New York Magazine)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.law.nyu.edu/news/kenji-yoshino-explores-the-cost-of-conformity-at-work" target="_blank">Kenji Yoshino explores the cost of conformity at work</a>
                        <p>by NYU Law</p>
                    </li>
                    <li>
                        <a href="http://www.consciouscompanymagazine.com/blogs/press/how-to-disappoint-others-and-still-excel-professionally?utm_content=bufferaeb9f&amp;utm_medium=social&amp;utm_source=facebook.com&amp;utm_campaign=buffer" target="_blank">How to Disappoint Others and Still Excel Professionally</a>
                        <p>by Gracy Obuchowicz (Conscious Company Magazine)</p>
                    </li>
                    <li>
                        <a href="http://www.more.com/coaches-arent-just-sports-teams" target="_blank">Coaches Aren’t Just for Sports Teams!</a>
                        <p>by Debra Orbacz (International Coach Federation)</p>
                    </li>
                    <li>
                        <a href="http://ms-jd.org/uploads/general/White_Paper.pdf" target="_blank">The Value of Coaching in the Law Firm</a>
                        <p>by Cynthia Pladziewicz (West LegalEdcenter)</p>
                    </li>
                    <li>
                        <a href="https://hbr.org/2015/04/why-some-men-pretend-to-work-80-hour-weeks" target="_blank">Why Some Men Pretend to Work 80-Hour Weeks</a>
                        <p>by Erin Reid (Harvard Business Review)</p>
                    </li>
                    <li>
                        <a href="https://www.washingtonpost.com/local/making-time-for-kids-study-says-quality-trumps-quantity/2015/03/28/10813192-d378-11e4-8fce-3941fc548f1c_story.html" target="_blank">Making time for kids? Study says quality trumps quantity</a>
                        <p>by Brigid Schulte (The Washington Post)</p>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
{% endblock content %}