{% extends "base.html" %}

{% block title %}
    | Resources |
{% endblock title %}

{% block content %}
    {% load staticfiles %}
    <main>
        <section class="jumboWrapper homePhoto forestImg">
            <div class="HeaderText">
                <h2>
                    Resources
                </h2>
            </div>
        </section>

        <ul class="resourceWrapper">
            <li class="resourceWIcon">
                <div>
                    <h2 class="reIcon resourceHeader">
                        Books
                    </h2>
                    <svg id="Layer_4" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 513.75 513.75">
                        <defs>
                            <style>.cls-1 {
                                fill: #4d335a;
                            }

                            .recls-2 {
                                fill: #fff;
                            }</style>
                        </defs>
                        <title>BookIcon</title>
                        <circle class="cls-1" cx="256.87" cy="256.87" r="256.87"/>
                        <path class="recls-2"
                              d="M67.87,119.63V380.17s114.69-1.5,188.84,48.42c0,0,65.16-48.23,189.16-48.23V119.63h-11V365s-105.29.15-177.92,49c0,0-69.08-48.31-177.08-48.31v-246Z"/>
                        <path class="recls-2"
                              d="M253.87,139.73v266.1s-42-54.9-162-54.9V84.61S217.87,87.43,253.87,139.73Z"/>
                        <path class="recls-2"
                              d="M260.87,140.68v266.1s42-54.9,162-54.9V85.56S296.87,88.38,260.87,140.68Z"/>
                    </svg>
                </div>
                <hr>
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Happiness-Advantage-Principles-Psychology-Performance/dp/0307591549?ie=UTF8&amp;hvadid=43796382276&amp;hvdev=c&amp;hvexid=&amp;hvnetw=g&amp;hvpone=15.31&amp;hvpos=1t1&amp;hvptwo=&amp;hvqmt=b&amp;hvrand=10764363152196052523&amp;ref=pd_sl_s1pwebcln_b&amp;tag=googhydr-20"
                           target="_blank">
                            The Happiness Advantage

                        </a>

                        <p>by Shawn Achor</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/The-Gifts-Imperfection-Supposed-Embrace/dp/159285849X"
                           target="_blank">
                            The Gifts of Imperfection
                        </a>

                        <p>by Brené Brown</p>
                    </li>
                    <li>
                        <a href="http://www.quietrev.com/quiet-the-book/" target="_blank">
                            Quiet
                        </a>

                        <p>by Susan Cain</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/When-Things-Fall-Apart-Difficult/dp/1570623449?ie=UTF8&hvadid=31600806157&hvdev=c&hvexid=&hvnetw=g&hvpone=8.59&hvpos=1t1&hvptwo=&hvqmt=b&hvrand=15996864169874713051&ref=pd_sl_7w49itwm64_b&tag=googhydr-20"
                           target="_blank">
                            When Things Fall Apart
                        </a>

                        <p>by Pema Chodron</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Leadership-Embodiment-Stand-Change-Think/dp/1492946699"
                           target="_blank">
                            Leadership Embodiment
                        </a>

                        <p>by Janet Crawford and Wendy Palmer</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Working-Identity-Unconventional-Strategies-Reinventing/dp/1591394139"
                           target="_blank">
                            Working Identity
                        </a>

                        <p>by Harminia Ibarra</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0804137382/ref=sr_1_1?s=books&ie=UTF8&qid=1406065359&sr=1-1&keywords=essentialism"
                           target="_blank">Essentialism</a>

                        <p>by Greg McKeown</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Creative-Lawyer-Practical-Professional-Satisfaction/dp/1614389802/ref=sr_1_2?s=books&ie=UTF8&qid=1442955618&sr=1-2&keywords=The+Creative+Lawyer%2C+Michael+Melcher"
                           target="_blank">
                            The Creative Lawyer
                        </a>

                        <p>by Michael Melcher</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/What-now-Ann-Patchett/dp/0061340650/ref=sr_1_1?s=books&ie=UTF8&qid=1375379687&sr=1-1&keywords=what+now"
                           target="_blank">
                            What Now
                        </a>

                        <p>by Ann Patchett</p>
                    </li>
                     <li>
                        <a href="https://www.amazon.com/Difficult-Conversations-Discuss-What-Matters/dp/0143118447/ref=sr_1_1?s=books&ie=UTF8&qid=1375379586&sr=1-1&keywords=difficult+conversations+how+to+discuss+what+matters+most"
                           target="_blank">
                            Difficult Conversations
                        </a>

                        <p>by Bruce Patton, Sheila Heen, and Douglas Stone</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Drive-Surprising-Truth-About-Motivates/dp/1594484805"
                           target="_blank">
                            Drive
                        </a>

                        <p>by Daniel H. Pink</p>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/To-Sell-Is-Human-Surprising/dp/1594487154" target="_blank">
                            To Sell Is Human
                        </a>

                        <p>by Daniel H. Pink</p>
                    </li>
                    <li>
                        <a href="http://kenjiyoshino.com/KY/covering/" target="_blank">
                            Covering
                        </a>

                        <p>by Kenji Yoshino</p>
                    </li>
                </ul>
            </li>
            <li class="resourceWIcon">
                <div>
                    <h2 class="reIcon resourceHeader">
                        TED Talks
                    </h2>
                    <svg id="Layer_4" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 513.75 513.75">
                        <defs>
                            <style>.cls-1 {
                                fill: #4d335a;
                            }

                            .recls-2 {
                                fill: #fff;
                            }</style>
                        </defs>
                        <title>TEDIcon</title>
                        <circle class="cls-1" cx="256.87" cy="256.87" r="256.87"/>
                        <polygon class="recls-2"
                                 points="170.5 176.1 25.5 176.1 25.5 221.1 71.5 221.1 71.5 339.11 125.5 339.11 125.5 221.1 170.5 221.1 170.5 176.1"/>
                        <polygon class="recls-2"
                                 points="319.5 221.1 319.5 176.1 179.5 176.1 179.5 194.31 179.5 220.81 179.5 239.66 179.5 274.68 179.5 293.59 179.5 319.49 179.5 339.11 319.5 339.11 319.5 293.11 228.5 293.11 228.5 275.11 314.5 275.11 314.5 240.1 228.5 240.1 228.5 221.1 319.5 221.1"/>
                        <path class="recls-2"
                              d="M403.5,176.11h-75v163h94.64s65.1,4.24,65.1-81.53C488.23,176.67,426.5,176.11,403.5,176.11Zm5.82,122H383.5v-77h20.11c7,0,33.19,1.39,33.19,38.74C436.6,296.46,412.39,298.11,409.31,298.11Z"/>
                    </svg>
                </div>
                <hr>
                <ul>
                    <li>
                        <a href="http://www.ted.com/talks/shawn_achor_the_happy_secret_to_better_work" target="_blank">The
                            Happy Secret to Better Work</a>

                        <p>
                            by Shawn Achor
                        </p>
                    </li>
                    <li>
                        <a href="https://www.ted.com/talks/brene_brown_on_vulnerability?language=en" target="_blank">The
                            Power of Vulnerability</a>

                        <p>
                            by Brené Brown
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/susan_cain_the_power_of_introverts" target="_blank">The Power
                            of Introverts</a>

                        <p>
                            by Susan Cain
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/amy_cuddy_your_body_language_shapes_who_you_are"
                           target="_blank">Your Body Language Shapes Who You Are</a>

                        <p>
                            by Amy Cuddy
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/dan_pink_on_motivation" target="_blank">On Motivation</a>

                        <p>
                            by Daniel Pink
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/kathryn_schulz_on_being_wrong" target="_blank">On Being
                            Wrong</a>

                        <p>
                            by Kathryn Schulz
                        </p>
                    </li>
                    <li>
                        <a href="http://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action" target="_blank">How
                            Great Leaders Inspire Action</a>

                        <p>
                            by Simon Sinek
                        </p>
                    </li>
                </ul>
            </li>
            <li class="resourceWIcon">
                <div>
                    <h2 class="reIcon resourceHeader">
                        Articles
                    </h2>
                    <svg id="Layer_4" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 513.75 513.75">
                        <defs>
                            <style>.cls-1 {
                                fill: #4d335a;
                            }

                            .recls-2 {
                                fill: #fff;
                            }</style>
                        </defs>
                        <title>ArticleInIcon</title>
                        <circle class="cls-1" cx="256.87" cy="257.16" r="256.87"/>
                        <path class="recls-2"
                              d="M301.85,210.11a23,23,0,0,1-23-23v-101h-146a23,23,0,0,0-23,23V405.14a23,23,0,0,0,23,23H379.92a23,23,0,0,0,23-23v-195Zm28,137.71a7.29,7.29,0,0,1-7.29,7.29H190.17a7.29,7.29,0,0,1-7.29-7.29V336.4a7.29,7.29,0,0,1,7.29-7.29H322.59a7.29,7.29,0,0,1,7.29,7.29Zm0-49a7.29,7.29,0,0,1-7.29,7.29H190.17a7.29,7.29,0,0,1-7.29-7.29V287.4a7.29,7.29,0,0,1,7.29-7.29H322.59a7.29,7.29,0,0,1,7.29,7.29Zm0-49a7.29,7.29,0,0,1-7.29,7.29H190.17a7.29,7.29,0,0,1-7.29-7.29V238.4a7.29,7.29,0,0,1,7.29-7.29H322.59a7.29,7.29,0,0,1,7.29,7.29Z"/>
                        <polygon class="recls-2" points="303.65 93.63 392.9 183.1 303.88 183.1 303.65 93.63"/>
                    </svg>
                </div>
                <hr>
                <ul>
                    <li>
                        <a href="http://parenting.blogs.nytimes.com/2013/10/03/both-men-and-women-cover-family-responsibilities-at-work/?_php=true&amp;_type=blogs&amp;action=click&amp;module=Search&amp;region=searchResults&amp;mabReward=&amp;url=http%3A%2F%2Fquery.nytimes.com%2Fsearch%2Fsitesearch%2F%23%2Fkenji%2Byoshino%2Fsince1851%2Fallresults%2F1%2Fallauthors%2Fnewest%2F&amp;_r=0"
                           target="_blank">Both Men and Women Should ‘Uncover’ Family Responsibilities at Work</a>

                        <p>
                            by KJ Dell'Antonia (The New York Times)
                        </p>
                    </li>
                    <li>
                        <a href="http://mobile.nytimes.com/2016/07/23/your-money/why-companies-have-started-to-coach-new-parents.html?_r=1&amp;referer="
                           target="_blank">Why Companies Have Started to Coach New Parents</a>

                        <p>
                            by Tara Siegel Barnard (The New York Times)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.nytimes.com/2014/11/14/opinion/david-brooks-the-agency-moment.html?smid=nytcore-iphone-share&amp;smprod=nytcore-iphone&amp;_r=0"
                           target="_blank">The Agency Moment</a>

                        <p>by David Brooks (The New York Times)</p>
                    </li>
                    <li>
                        <a href="http://www.wolfmotivation.com/articles/burnout-a-necessary-part-of-lawyers-lives"
                           target="_blank">Burnout: A Necessary Part of Lawyers’ Lives?</a>

                        <p>By Randall Christison (PDQ)</p>
                    </li>
                    <li>
                        <a href="http://warriorone.com/wp-content/uploads/2015/03/Living-Happily-Surrounded-by-Conflict.pdf"
                           target="_blank">Living (Happily) Surrounded by Conflict: Surprise! How Lawyers are Leading
                            the Mindfulness

                            Revolution</a>

                        <p>
                            by Judi Cohen
                        </p>
                    </li>
                    <li>
                        <a href="http://www.forbes.com/sites/dorieclark/2013/09/03/why-so-few-women-and-minorities-at-the-top-heres-the-real-reason/"
                           target="_blank">Why So Few Women And Minorities At The Top? Here's The Real Reason.</a>

                        <p>
                            by Dorie Clark (Forbes)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.nytimes.com/2016/02/28/magazine/what-google-learned-from-its-quest-to-build-the-perfect-team.html?_r=1"
                           target="_blank">
                            What Google Learned From Its Quest to Build the Perfect Team
                        </a>

                        <p>
                            by Charles Duhigg (The New York Times Magazine)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.americanbar.org/publications/gp_solo/2011/january_february/professional_coachingforlawyers.html"
                           target="_blank">Professional Coaching for Lawyers</a>

                        <p>by Andrea Goldman & Stephen Seckler (GP Solo Magazine)</p>
                    </li>
                    <li>
                        <a href="https://hbr.org/2013/02/how-to-give-a-meaningful-thank" target="_blank">How to Give a
                            Meaningful “Thank You”</a>

                        <p>
                            by Mark Goulston (Harvard Business Review)
                        </p>
                    </li>
                    <li>
                        <a href="https://hbr.org/2014/01/find-the-coaching-in-criticism" target="_blank">Find the
                            Coaching in Criticism</a>

                        <p>
                            by Sheila Heen & Douglas Stone (Harvard Business Review)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.theatlantic.com/magazine/archive/2014/05/the-confidence-gap/359815/"
                           target="_blank">The Confidence Gap</a>

                        <p>
                            by Katty Kay & Claire Shipman (The Atlantic)
                        </p>
                    </li>
                    <li>
                        <a href="https://info.legalsolutions.thomsonreuters.com/signup/newsletters/practice-innovations/2011-oct/article4.aspx"
                           target="_blank">Improving Associate Morale Through Career Coaching</a>

                        <p>by Karen Kleiman (Practice Innovations Newsletter)</p>
                    </li>
                    <li>
                        <a href="http://www.law.nyu.edu/news/kenji-yoshino-explores-the-cost-of-conformity-at-work"
                           target="_blank">Kenji Yoshino explores the cost of conformity at work</a>

                        <p>by NYU Law</p>
                    </li>
                    <li>
                        <a href="http://nymag.com/thecut/2015/08/why-we-need-older-women-in-the-workplace.html"
                           target="_blank">Why We Need Older Women in the Workplace</a>

                        <p>
                            by Lisa Miller (New York Magazine)
                        </p>
                    </li>
                    <li>
                        <a href="http://www.consciouscompanymagazine.com/blogs/press/how-to-disappoint-others-and-still-excel-professionally?utm_content=bufferaeb9f&amp;utm_medium=social&amp;utm_source=facebook.com&amp;utm_campaign=buffer"
                           target="_blank">How to Disappoint Others and Still Excel Professionally</a>

                        <p>by Gracy Obuchowicz (Conscious Company Magazine)</p>
                    </li>
                    <li>
                        <a href="http://www.more.com/coaches-arent-just-sports-teams" target="_blank">Coaches Aren’t
                            Just for Sports Teams</a>

                        <p>by Debra Orbacz (International Coach Federation)</p>
                    </li>
                    <li>
                        <a href="http://ms-jd.org/uploads/general/White_Paper.pdf" target="_blank">The Value of Coaching
                            in the Law Firm</a>

                        <p>by Cynthia Pladziewicz (West LegalEdcenter)</p>
                    </li>
                    <li>
                        <a href="https://hbr.org/2015/04/why-some-men-pretend-to-work-80-hour-weeks" target="_blank">Why
                            Some Men Pretend to Work 80-Hour Weeks</a>

                        <p>by Erin Reid (Harvard Business Review)</p>
                    </li>
                    <li>
                        <a href="https://www.washingtonpost.com/local/making-time-for-kids-study-says-quality-trumps-quantity/2015/03/28/10813192-d378-11e4-8fce-3941fc548f1c_story.html"
                           target="_blank">Making time for kids? Study says quality trumps quantity</a>

                        <p>by Brigid Schulte (The Washington Post)</p>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
{% endblock content %}

{% block script_tags %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/openresource.js' %}"></script>
{% endblock %}