{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main>
        <section class="jumboWrapper homePhoto">
            <div class="jumbotron">
                <img src="{% static 'images/mount_hood-min.png'%}">
            </div>

            <div class="textWrapper">
                <h1 class="pageTitle">
                    Services
                </h1>
            </div>
        </section>

        <section>
        <!--<article class="serviceAbout">-->
            <!--<p>-->
            <!--Dina Glassman is a certified integral coach.-->
            <!--Integral coaching includes everything about the client and the client’s world.-->
            <!--This includes what the client is aware of along with their potential—what could-->
            <!--be brought about through focused, skillful methods.-->
            <!--Individual coaching explores how clients represent themselves,-->
            <!--and also investigates their social world, habits, the quality of self-care,-->
            <!--the amount of attention and energy available to take on change, and much more.-->
            <!--</p>-->

            <!--<p>-->
            <!--Most fundamentally, coaching involves building a client’s competence to better face life circumstances.-->
            <!--Practically speaking, successful coaching leaves people with the following outcomes:-->
            <!--</p>-->

            <!--<ul>-->
                <!--<li>-->
                    <!--Long-term excellence-->
                <!--</li>-->
                <!--<li>-->
                    <!--The ability to self-correct-->
                <!--</li>-->
                <!--<li>-->
                    <!--Competence in being self-generating-->
                <!--</li>-->
            <!--</ul>-->

            <!--<p>-->
            <!--In action, this means understanding clients with great depth,-->
            <!--conversing with them in a way that opens up insights and possibilities,-->
            <!--and offering a path forward that includes practices custom-designed for them.-->
            <!--</p>-->
        <!--</article>-->
            </section>

        <section class="services">
            <h1>
                Glassman Coaching and Consulting (GC2) Service Offerings and Glassman Background
            </h1>
            <section>
                <ul>
                    <li class="servicesHeader">
                        <h2>
                            Coaching Offering:
                        </h2>
                        <p>
                             Deliver individual coaching services through six-month engagements
                            (with option to renew) to the following potential clients:
                        </p>
                    </li>
                    <li class="servicesHeader">
                        <ul class="servicesList">
                            <li>
                                Professionals transitioning into new role or work arrangement (e.g. lateral hires)
                            </li>
                            <li>
                                Expecting and/or newly returning parents
                            </li>
                            <li>
                            Professionals navigating/managing alternative schedules
                            </li>
                            <li>
                            Newly promoted professionals
                            </li>
                            <li>
                            Highest performers approaching promotion
                            </li>
                            <li>
                            Departing/transitioning professionals  (e.g. retirement, assumption of new role within company,
                            managed transition, office move)
                            </li>
                            <li>
                            Diverse professionals
                            </li>
                            <li>
                            Committee leaders and group/office chairs taking on new administrative responsibilities
                            </li>

                        </ul>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li class="servicesHeader">
                        <h2>
                            Proposed Structure for Coaching Engagements
                        </h2>
                    </li>
                    <li class="servicesHeader">
                        <ul class="servicesList">
                            <li>
                                6-month engagements include bi-monthly individual meetings,
                                program design, intake, firm/company intake, ongoing support/correspondence
                            </li>
                            <li>
                                Retainer arrangement option:  in-office presence on a half-day or full day basis
                                two times per month; include breakfast or lunch meeting with management representative
                                in addition to open coaching hours
                            </li>
                            <li>
                                Group coaching facilitations (including intake and consult with sponsor, debrief)
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li class="servicesHeader">
                        <h2>
                            Strategic Consulting Offering
                        </h2>
                    </li>
                    <li class="servicesHeader">
                        Experience in following development/talent management areas:

                        <h2>
                                    Diversity
                        </h2>
                        <ul class="servicesList">
                            <li>
                                Affinity group implementation, support and program development
                            </li>
                            <li>
                                Retreat/special program development and program design
                            </li>
                            <li>
                                Alternative work arrangement management
                            </li>
                            <li>
                                Roundtable program design and implementation
                            </li>
                        </ul>

                        <h2>
                           Performance management
                        </h2>
                        <ul class="servicesList">
                            <li>
                                Evaluation process review and enhancement (evaluation forms, debriefing statements,
                                promotional signals, communication and transparency review)
                            </li>
                            <li>
                                Career path design and implementation
                            </li>
                        </ul>

                        <h2>
                           Training and development
                        </h2>
                        <ul class="servicesList">
                            <li>
                                Upward review and feedback development
                            </li>
                            <li>
                                Skills guidelines/competencies design and implementation
                            </li>
                            <li>
                                Retreat design and program development
                            </li>
                        </ul>

                        <h2>
                           Culture
                        </h2>
                        <ul class="servicesList">
                            <li>
                                Sponsorship/mentorship program design and implementation
                            </li>
                            <li>
                                Alumni program/exit ambassador program development
                            </li>
                            <li>
                                Mindfulness/Wellness program development
                            </li>
                            <li>
                                Coaching strategy design and implementation
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="servicesHeader">
                        <h2>
                            Background and Experience
                        </h2>
                    </li>
                    <li class="servicesHeader">
                        <ul class="servicesList">
                            <li>
                                JD from NYU Law School; BA from Colgate University, phi beta kappa, magna cum laude
                            </li>
                            <li>
                                Coaching Certification from New Ventures West, ICF Certified Coach
                            </li>
                            <li>
                                MBSR (Mindfulness Based Stress Reduction) program graduate – 2016 (OHSU)
                            </li>
                            <li>
                                19 years inside Big Law (AmLaw 50 firms); DLA Piper and Perkins Coie
                            </li>
                            <li>
                                7 years litigation practice experience at DLA and Perkins Coie;
                                first lawyer to work a reduced schedule in the Portland office of Perkins Coie
                            </li>
                            <li>
                                10+ years of Big Firm Attorney Development experience,
                                including 5 years as Director of Attorney Development at Perkins Coie
                                (developed the job description,
                                which remains the most senior attorney development role in the firm)
                            </li>
                            <li>
                                4 years as internal Attorney Career Coach,
                                including experience coaching 100+ individual lawyers,
                                across all seniority levels, 14 geographic locations and 8 practice groups
                                (developed the job description for the role,
                                one of the first designated internal law firm coaching roles in the country)
                            </li>
                            <li>
                                Recipient of Perkins Coie’s inaugural Firmwide Diversity Champion Award
                            </li>
                            <li>
                                Co-founder of Internal Coaching Peer Group,
                                including more than a dozen coaching professionals inside Big Law
                            </li>
                            <li>
                                Longstanding member of Professional Development Consortium (PDC)
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>


    </main>
{% endblock content %}