{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <main>

        <section class="jumboWrapper homePhoto">
            <div class="jumbotron">
                Testimonials
            </div>
        </section>

        <ul class="testimonialsWrapper">
            <li class="mainWrapper">
                <h1>Providing Meaningful and Unique Value</h1>
                <ul>
                    <li>
                        <blockquote>
                            Working with Dina has been a life-changing experience for me. I&#39;m now ‘awake’ and
                            experiencing life much for fully than before.
                        </blockquote>
                        <p>(Law Firm Partner)</p>
                    </li>
                    <li>
                        <blockquote>
                            The most personalized, long term and insightful professional training experience I
                            have had to date. Our sessions forced me to think about what I truly wanted, who I
                            wanted to be as an attorney, and how I was going to effectively reach my goals. Dina's
                            commitment to the process was inspirational and motivated me to completely commit.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            There are two things I've found most valuable about working with Dina.
                            First, Dina is very good at helping me keep perspective and focus on
                            things that are truly important, rather than getting overly concerned
                            with the short term issues. Also, more specifically, Dina has been extremely
                            helpful in navigating and planning for difficult conversations,
                            so that I feel better prepared to handle them.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            Coaching is the top professional development experience I have received
                        </blockquote>
                        <p>
                            (Law Firm Partner)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            I view my coaching sessions with Dina to have been a fundamental and
                            integral component of my training. Only Dina's coaching has meaningfully
                            helped me build the framework and structure to manage the growth of my day-to-day practice.
                        </blockquote>
                        <p>
                            (Law Firm Partner)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            I am now better able to realize and manage my limitations and to avoid
                            a negative vortex of my practice spiraling out of control.
                            I also think I have become more structured generally,
                            more responsive to clients, better able to track a larger number of matters and deadlines,
                            and better able to provide value for clients with my billable
                            time by managing distractions more effectively.
                        </blockquote>
                        <p>
                            (Law Firm Partner)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            I can't begin to count all the benefits I've received from coaching with Dina.
                            I have a vision of my ultimate career goals and coaching has helped me see the path there.
                            But, importantly, coaching has taught me to be patient in how to achieve my goals.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            The law practice, especially one focused on client development,
                            can sometimes feel like you are totally alone at the wheel.
                            Coaching provides guidance to better manage the process and makes it feel more collaborative.
                        </blockquote>
                        <p>
                            (Law Firm Senior Counsel)
                        </p>
                    </li>
                </ul>
            </li>
            <li class="mainWrapper">
                <h1>Fostering Confidence and Strength</h1>
                <ul>
                    <li>
                        <blockquote>
                            Coaching has helped me approach my work with more confidence and authority
                            which I have been able to convey to colleagues and clients, with direct positive results
                        </blockquote>
                        <p>
                            (Law Firm Senior Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            Through coaching I've been able to better identify the diversity of my
                            interests and skills and to hone (or feed) them actively.
                            Coaching has helped me to better connect with my whole self.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                </ul>
            </li>
            <li class="mainWrapper">
                <h1>Supporting Work-Life Integration</h1>
                <ul>
                    <li>
                        <blockquote>
                             It may be that Dina has broadened my sense of what I need to do to
                            grow into a thriving practice beyond the typical work hard/develop business mantra.
                            I know that is necessary, but it is not sufficient,
                            and it is not attainable without a broader set of skills and strategy for
                            maintaining a high level of performance, including wellness practices,
                            time management and workflow practices, and self-awareness.
                        </blockquote>
                        <p>
                            (Law Firm Partner)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            I learned a lot about how to manage my stress and well-being at work and how
                            to use those skills to take my career (and life, really) to the next level.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            Coaching has helped me see that I have more control over my life and career,
                            and begin to make choices rather than letting the choices be made for me by
                            others and to begin asserting the boundaries that I need.
                        </blockquote>
                        <p>
                            (Law Firm Associate)
                        </p>
                    </li>
                    <li>
                        <blockquote>
                            Coaching has been hugely helpful in navigating the challenges of being an associate,
                            especially after returning to work after having my child.
                            The demands of the job combined with new motherhood have been fierce and I have struggled
                            with feeling guilty both at work and at home.
                            Talking with Dina has helped me in this transition time,
                            both in terms of how I feel but also how I fit into the larger picture of a law firm.
                            I feel both heard and more empowered to make this situation work for me,
                            so that I have a more viable future here.
                        </blockquote>
                        <p>
                            (Law Firm Associate, August)
                        </p>
                    </li>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                </ul>
            </li>
            <li class="mainWrapper">
                <h1>Providing an Active Sounding Board</h1>
                <ul>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                    <li>
                        <blockquote>

                        </blockquote>
                        <p>

                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
{% endblock content %}