@import "https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans:300";
nav {
  text-align: center;
  margin-top: 45px; }
  nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    justify-content: center; }
  nav li {
    background-color: #ffffff;
    padding: 0 23px; }
  nav a {
    color: #8E8E8E;
    font-family: "Open Sans", sans-serif;
    text-decoration: none; }

.divider {
  background-color: #D8D8D8;
  height: 2px;
  margin: -26px 15px 0; }

body {
  margin: 50px;
  border: solid #D8D8D8 2px; }

figure {
  width: 12em;
  height: 100%;
  margin: 0 auto;
  margin-top: 6em; }

svg {
  width: 12em; }

.jumboWrapper {
  margin-bottom: .50em;
  opacity: 0; }

.homePhoto {
  background-image: url(../images/mount_hood-min.png);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center; }

.bio {
  color: #8E8E8E;
  font-family: "Open Sans", sans-serif;
  width: 84%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .bio article {
    width: 45em; }

main {
  width: 85%;
  margin: 100px auto 0; }

.bio aside {
  width: 10em; }
  .bio aside img {
    width: 100%;
    border-radius: 100px; }

.aboutPage {
  color: #8E8E8E;
  text-align: center; }
  .aboutPage blockquote {
    font-size: xx-large;
    margin-bottom: 10px; }
  .aboutPage h1 {
    font-size: 3.15em;
    margin-bottom: 10px; }
  .aboutPage article p {
    font-size: larger;
    line-height: 1.5em;
    font-size: 1.15em; }

.aboutPhoto {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: url(../images/mount_hood-min.png); }

.miniAbout {
  color: #8E8E8E;
  font-family: "Cormorant Garamond", serif;
  width: 95%;
  margin: 0 auto; }
  .miniAbout p {
    color: #BCBCBC;
    margin: 5px 0; }
  .miniAbout h1 {
    margin: 0; }

.resourcePhoto {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: url(../images/mount_hood-min.png); }

.resourceWrapper {
  margin-bottom: 55px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: #8E8E8E; }
  .resourceWrapper a {
    color: #8E8E8E;
    font-size: x-large;
    text-decoration: none; }
    .resourceWrapper a:visited {
      color: #777777; }
  .resourceWrapper li {
    width: 17em; }
  .resourceWrapper ul {
    padding: 0;
    list-style: none;
    height: 19em;
    overflow: scroll; }
  .resourceWrapper h1 {
    text-align: center;
    border-bottom: solid 1px #D8D8D8;
    margin: 5px; }
  .resourceWrapper p {
    color: #BCBCBC; }

.mainWrapper {
  height: 20em; }

.testimonialsWrapper {
  display: none; }

/*# sourceMappingURL=style.css.map */
