//@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:300';
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans:300';


$mainFont: 'Open Sans', sans-serif;
$lightGrey: #8E8E8E;
$lighterGrey: #BCBCBC;
$borderColor: #D8D8D8;
$secondFont:'Cormorant Garamond', serif;

@mixin mainText{
   color: $lightGrey;
   font-family: $mainFont;
}

@mixin backgroundImg{
  color: #fff;
  font-family: $mainFont;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
nav {
  text-align: center;
  margin-top: 45px;
  ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }
  li{
    background-color: #ffffff;
    padding: 0 23px;
  }
  a {
    @include mainText;
    text-decoration: none;

}
}

.divider {
  background-color: $borderColor;
  height: 2px;
  margin: -26px 15px 0;
}

body {
  margin: 50px;
  border: solid $borderColor 2px;
}

figure{
  width: 12em;
  height: 100%;
  margin: 0 auto;
  margin-top: 6em;
}

svg{
  width: 12em;
}

//END OF BASE

.jumboWrapper {
    margin-bottom: .50em;
    opacity: 0;
}

.homePhoto{
  background-image: url(../images/mount_hood-min.png);
  @include backgroundImg;
}

.bio{
  @include mainText;
  width: 84%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  article{
    width: 45em;
  }

}


main{
  width: 85%;
  margin: 100px auto 0;
}

.bio{
  aside{
    width: 10em;
    img{
      width: 100%;
      border-radius: 100px
    }
}}

//ABOUT PAGE

.aboutPage{
  color: $lightGrey;
  text-align: center;
  blockquote{
    font-size: xx-large;
    margin-bottom: 10px;
  }
  h1{
    font-size: 3.15em;
    margin-bottom: 10px;
  }
  article{
    p{
      font-size: larger;
      line-height: 1.5em;
      font-size: 1.15em;
    }
  }
}

.aboutPhoto{
  @include backgroundImg;
  background-image: url(../images/mount_hood-min.png);
}

.miniAbout{
  color: $lightGrey;
  font-family: $secondFont;
  width: 95%;
  margin: 0 auto;
  p{
    color: $lighterGrey;
    margin: 5px 0;
  }
  h1{
    margin: 0;
  }

}

// RESOURCES

.resourcePhoto{
  @include backgroundImg;
  background-image: url(../images/mount_hood-min.png);
}

.resourceWrapper{
  margin-bottom: 55px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: $lightGrey;
  a{
    color: $lightGrey;
    font-size: x-large;
    text-decoration: none;
    &:visited{
      color: #777777;;
    }
  }

  li{
    width: 17em;
  }
  ul{
    padding: 0;
    list-style: none;
    height: 19em;
    overflow: scroll;
  }
  h1{
    text-align: center;
    border-bottom: solid 1px $borderColor;
    margin: 5px;
  }
  p{
    color: $lighterGrey;
  }
}


.mainWrapper{
  height: 20em;
}

//Testimonials

.testimonialsWrapper{
  display: none;
}