@import url('https://fonts.googleapis.com/css?family=Taviraj');

//Table of content
//
// 1. Variables
// 2. Mixins
// 3. Base
// 4. Home

// VARIALBES
$mainFont: Futura,Trebuchet MS,Arial,sans-serif;
$darkPurple: #4d335a;
$darkGreen: #447738;
$borderColor: #D8D8D8;
$secondFont:'Taviraj', serif;



//MIXIN

@mixin toggleTri{
  display: inline-block;
  color: $darkGreen;
}

@mixin jumboText{
    position: absolute;
    left: 0;
    width: 100%;
    height: 38%;
    max-height: 550px;
    margin: 0;
    bottom: 0;
}

@mixin mainText{
   color: $darkPurple;
   font-family: $mainFont;
}

@mixin scroll{
  li{
    list-style: none;
  }
  flex-wrap: wrap;
  margin-bottom: 55px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: $darkPurple;
  a{
    color: $darkPurple;
    text-decoration: none;
  }
  ul{
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  h1{
    text-align: center;
    border-bottom: solid 1px $borderColor;
    margin: 5px;
  }

  p{
    color: $darkGreen;
    width: 29em;
    align-self: flex-end;
    margin: 0;
    text-align: right;
  }
}

@mixin backgroundImg{
  color: #fff;
  font-family: $mainFont;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@mixin about{
  color: $darkPurple;
  h1{
    margin-bottom: 10px;
  }
}


// BASE

blockquote{
  font-family: $mainFont;
}

body {
  font-size: 18px;
  font-family: $mainFont;
}

h1,h2,h3,h4,h5,h6,p {
   color: $darkPurple;
   line-height: 1.45;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

li{
  list-style: circle;
}
nav {
    padding-top: 15px;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

a{
  text-decoration: none;
  color: $darkGreen;
}

#sticky {
  a{
    @include mainText;
    text-decoration: none;
    padding: 0 23px;
    background-color: #fff;
    margin: 0 -4px;
    height: 3em;
  }
}

#sticky-phantom {
    visibility: hidden;
    padding-top: 15px;
}

#sticky.stick {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  height: 3em;
}

.shifted{
  margin-top: 54px;
}

p{
  @include mainText;
}

header{
  section{
    display: flex;
    align-items: center;
    flex-direction: column;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .plus{
    color: $darkGreen;
    margin: 0 8px;
  }
}

.divider {
  margin: -12px 15px 0;
  border-top: solid 2px #D8D8D8;
}

body {
  margin: 0;
}

figure{
  width: 12em;
  height: 100%;
  margin: 0 auto;
}

.contact{
  text-align: center;
  color: $darkPurple;
  border-top: solid 2px $borderColor;
  padding-top: 2em;
  margin: 25px 15px;
  li{
    width: 12em;
    list-style: none;
    img{
      width: 40%;
      margin-bottom: 1em;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    h2{
      color: #447738;
    }
  }
  a{
    color: $darkPurple;
    text-decoration: none;

    flex-direction: column;
    display: flex;
    align-items: center;
  }

}

.jumboWrapper {
    opacity: 0;
    position: relative;
    height: 100%;
    max-height: 550px;
    img{
        width: 100%;
        height: 100%;
        max-height: 550px;
    }
}

.homePhoto{
  margin-top: 3em;
}

//HOME
.bio{
  @include mainText;
  width: 84%;
  margin: 5em auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  article{
    width: 45em;
    text-align: center;
  }

}

main{
  width: 100%;
  margin-top: 2em;
}

.bio{
  aside{
    width: 10em;
    img{
      width: 100%;
      border-radius: 100px;
      min-width: 120px;
    }
  }
}

.maryLink{
  top: 0;
  text-align: center;
  @include jumboText;
    .textWrapper{
      text-decoration: none;
    }
    p {
      display: flex;
      justify-content: flex-end;
      margin: 0 19em;
  }
}

.HeaderText{
  color: #4d335a;
  top: 30%;
  text-align: center;
  @include  jumboText;
}

.pageTitle{
  font-style: italic;
  display: flex;
  justify-content: center;
  margin: 0;
  color: $darkPurple;
  margin-top: .25em;
}

//ABOUT PAGE
.diversity{
  img {
    width: 100%;
  }
}

.aboutImg{
  background-image: url(../images/Glassman_min.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutWrapper{
  background-color: #fffcf0;
  display: flex;
  align-items: center;
  div{
    width: 46%;
  }

  p{
    width: 601px;
  }
}

.serviceText{
  @include jumboText;
  text-align: center;
  color: #fff;
}

.serviceAbout{
  margin-top: 3em;
  ul {
      width: 22%;
      margin: auto;
      text-align: left;
    }
  @include about;
}

.aboutPage{
  a{
    text-decoration: none;
  }
  blockquote{
    color: $darkPurple;
    margin: 0 0 10px;
  }
  @include about;
}

.aboutPhoto{
  @include backgroundImg;
  background-image: url(../images/Glassman_min.jpg);
}

.miniAbout{
  color: $darkPurple;
  font-family: $secondFont;
  width: 95%;
  display: flex;
  margin: 0 auto 3em;
  flex-direction: row-reverse;
  img{
    height: 100%;
    margin-top: -1px;
  }
  p{
    color: $darkGreen;
    margin: 5px 0;
  }
  h1{
    margin: 0;
  }
  a{
    margin-top: 3em;
  }

}

.story{
    margin: 0 auto;
  ul{
    text-align: left;
    margin: 0 auto;
    width: 80%;
  }
  li{
    margin-bottom: 10px;
  }
}

.p_img{
  border-top: solid #e5e5e5 2px;
  border-bottom: solid #e5e5e5 2px;
   display: flex;
   text-align: center;
   align-items: center;
  span{
    margin: 0 2em;
  }
  img{
      width: 50%;
      filter: grayscale(100%);
      -webkit-transition: filter 1s; /* Safari */
      transition: filter 1s;
        &:hover{
          filter: grayscale(0%);

      }
  }
}

.aboutBackground{
  width: 90%;
  margin: 0 auto;
}

// RESOURCES
.resourcePhoto{
  @include backgroundImg;
}

.resourceHeader::before{
    @include toggleTri;
    content: "▶";
}

.openresource::before, .opencoachingHeader::before {
    content: "▼";
    @include toggleTri;
}

.coachingHeader::before{
  content: "▶";
}

.resourceHeader{
  margin: 5px auto;
  width: 35%;
  min-width: 200px;
}

.resourceWrapper {
  @include scroll;
  flex-direction: column;
  margin-left: 5%;
  li {
    width: 50%;
    margin: 10px auto;
    div{
      width: 100%;
      height: 2px;
      border-bottom: 1px solid rgb(216, 216, 216);
      display: block;
  }
  }
  ul{
    list-style: circle;
    display: none;
    li{
      list-style: circle;
      margin-bottom: 20px;
    }
  }
}

//TESTIMONIALS
.testimonialsWrapper{
  @include scroll;
  li {
    width: 85%;
  }
  h1{
    margin-bottom: 14px;
    padding-bottom: 8px;
  }
  blockquote{
    margin: 0;
    font-style: italic;
    width: 100%;
    flex-basis: 80%;
  }
  p{
    flex-basis: 100%;
  }
}

.mainWrapper{
  margin: 6em 0;

  img{
    width: 31px;
    align-self: flex-start;
    margin-right: 1em;
  }
   .testButton{
     &{
       cursor:pointer
     }
    text-align: center;
    margin: 0 auto;
  }
}

.secondWrapper{
  li{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
  }
}

//Services
.servicesHeader{
  list-style: none;
}
.services{
  color: $darkPurple;
  article{
    width: 82%;
    margin: 0 auto;
    a{
      text-align: center;
      width: 100%;
      p{
        color: $darkGreen;
        margin-bottom: 2em;
      }
    }
    h2, h3{
      margin: 2em 2em .5em;
    }
    p{
      width: 75%;
      margin: 0 auto;
    }
    ul{
      font-family: Futura, Trebuchet MS, Arial, sans-serif;
      width: 50%;
      margin: 2em auto;
    }
  }
  h1{
    text-align: center;
    border-bottom: solid 1px $borderColor;
  }
  ul{
    ul{
      list-style-type: disc;
    }
  }
}

.servicesList{
  li{
    margin-bottom: 10px;
  }
}

.listWrapper{
  list-style: none;
  h2{
        margin-left: 0;
  }
  p{
        margin-left: 1em;
  }
}

.servicesReadMore{
  width: 100%;
}

.hidden{
  display: none!important;
}

//Media queries
@media only screen and (max-width: 700px){
  .contact li img {
    width: 30%;
  }
  .miniAbout img{
    display: none;
  }
  .p_img{
    display: block;
    img{
      width: 100%;
    }
  }
  .maryLink{
    p{
      margin: 0;
    }
  }
}

@media only screen and (max-width: 560px){
  .divider{
    margin: -41px 15px 0;
  }
}